.list-content {
    width: calc(100% - 300px);
    .title {
        font-size: 18px;
        font-weight: 500;
        padding: 16px;
    }
    .filter-top {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        padding: 0 16px;
        padding-bottom: 20px;
        border-bottom: 1px solid #CAD8E5;
        .filter {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
    .list-items {
        height: calc(100% - 135px);
        background: #f8f8f8;
        padding: 16px;
    }
    .table-management {
        border-spacing: 0;
        border-radius: 4px;
        border-collapse: collapse;
        border: 1px solid #e0e0e0;
        border-top: none;
        background: #fff;
        text-align: center;
        .table-item {
            border-bottom: 1px solid #ececec;
            background-color: #fff;
        }
        .sticky {
            position: sticky;
            top: 0px;
            border-top: 1px solid #ececec;
        }
        width: 100%;
        & th, & td {
            &:first-child {
                text-align: left;
            }
        }
        th {
            background: #f8fafc;
            color: #5c5c5c;
            font-weight: 500;
            border-bottom: 1px solid #e0e0e0;
        }
        .table-pd {
            padding: 12px 16px;
            &.text-left {
                text-align: left;
            }
            .pointer {
                cursor: pointer;
            }
        }
        img {
            width: 80px;
            height: 60px;
            object-fit: cover;
            border-radius: 6px;
        }
        .btn-more {
            &:hover {
                filter: brightness(0.9);
            }
            background: #f8fafc;
            border: none;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            margin: 0 auto;
            display: block;
            background: url('../../assets/svg/more.svg') no-repeat 0 0 / contain;
            cursor: pointer;
        }
    }
}