.sidebar {
    width: 300px;
    border: 1px solid #cad8e5;
    height: 100%;
    height: calc(100vh - 51px);
    position: sticky;
    top: 48px;
    .title {
        padding: 25px 16px;
        color: #2ea2c7;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 1px solid #cad8e5;
    }
    .menu {
        padding: 25px 0px;
        .menu-item {
            padding: 6px 16px;
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;
            gap: 6px;
            &:hover {
                background: #e5f9ff;
            }
            &.active {
                background: #e5f9ff;
                color: #2ea2c7;
                svg {
                    filter: sepia(1) saturate(400%) hue-rotate(170deg);
                }
            }
            svg {
                width: 24px;
            }
        }
    }
}