.modal-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1818184d;
    .modal-content-wrap {
        background: #fff;
        border-radius: 8px;
        .modal-top {
            padding: 12px 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #cad8e5;
            .modal-label {
                color: #2ea2c7;
                font-weight: 700;
                font-size: 16px;
            }
            .modal-close {
                cursor: pointer;
            }
        }
        .modal-content {
            background: #f2f3f6;
            padding: 16px;
            .item {
                margin: 12px 0;
                .label {
                    padding-bottom: 4px;
                    display: block;
                }
            }
            textarea {
                border-color: #e0e0e0;
                outline: none;
                padding: 12px;
                border-radius: 4px;
            }
        }
        .modal-bottom {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px 0;
            gap: 12px;
        }
    }
}