.button-wrap {
    .button {
        cursor: pointer;
        width: 100%;
        background: #71b4d1;
        color: #fff;
        border-radius: 4px;
        padding: 10px 25px;
        font-weight: bold;
        font-size: 14px;
        outline: none;
        border: none;
        font-weight: 500;
        &:hover {
            background: #0b97d4;
        }
        &.btn-light {
            border: 1px solid #e0e0e0;
            padding: 6px 16px;
            background: #fff;
            color: #000;
            font-weight: 400;
            width: fit-content;
            &:hover {
                background: #f8f8f8;
            }
        }
        &.btn-info {
            border: 1px solid #2ea2c7;
            padding: 6px 16px;
            background: #2ea2c7;
            color: #000;
            font-weight: 400;
            width: fit-content;
            font-weight: 500;
            color: #fff;
            &:hover {
                background: #1a6b85;
            }
        }
    }
}